In [3]:
import pandas as pd

In [4]:
stu_path = pd.read_csv('Resources/students_complete.csv', delimiter = ',')
sch_path = pd.read_csv('Resources/schools_complete.csv', delimiter = ',')

In [5]:
sch_path.columns

Index(['School ID', 'school_name', 'type', 'size', 'budget'], dtype='object')

In [6]:
stu_path.columns

Index(['Student ID', 'student_name', 'gender', 'grade', 'school_name',
       'reading_score', 'math_score'],
      dtype='object')

In [7]:
stu_data = stu_path[["student_name","reading_score","math_score"]]
print(stu_data)

            student_name  reading_score  math_score
0           Paul Bradley             66          79
1           Victor Smith             94          61
2        Kevin Rodriguez             90          60
3      Dr. Richard Scott             67          58
4             Bonnie Ray             97          84
...                  ...            ...         ...
39165       Donna Howard             99          90
39166          Dawn Bell             95          70
39167     Rebecca Tanner             73          84
39168       Desiree Kidd             99          90
39169    Carolyn Jackson             95          75

[39170 rows x 3 columns]

In [51]:
sch_path.rename({"School Name":"school_name", "Type":"type"})
sch_path.head()

   School ID            school_name      type  size   budget
0          0      Huang High School  District  2917  1910635
1          1   Figueroa High School  District  2949  1884411
2          2    Shelton High School   Charter  1761  1056600
3          3  Hernandez High School  District  4635  3022020
4          4    Griffin High School   Charter  1468   917500

In [8]:
sch_data = sch_path[["school_name","budget"]]
print(sch_data)

              school_name   budget
0       Huang High School  1910635
1    Figueroa High School  1884411
2     Shelton High School  1056600
3   Hernandez High School  3022020
4     Griffin High School   917500
5      Wilson High School  1319574
6     Cabrera High School  1081356
7      Bailey High School  3124928
8      Holden High School   248087
9        Pena High School   585858
10     Wright High School  1049400
11  Rodriguez High School  2547363
12    Johnson High School  3094650
13       Ford High School  1763916
14     Thomas High School  1043130

In [9]:
#Sum of the total budget of all schools
total_budget = sch_path["budget"].sum()
total_budget

24649428

In [10]:
#Count of total number of schools
total_schools = sch_path["school_name"].count()
total_schools

15

In [11]:
#Count Total Students
total_students = stu_path["student_name"].count()
total_students

39170

In [12]:
#Average Math Scores
avg_math_scores = stu_path["math_score"].mean()
avg_math_scores = "{:.2f}".format(avg_math_scores)
avg_math_scores

'78.99'

In [13]:
#Average Reading Scores
avg_reading_scores = stu_path["reading_score"].mean()
avg_reading_scores = "{:.2f}".format(avg_reading_scores)
avg_reading_scores

'81.88'

In [14]:
#Total Students Passing Math
students_pass_math = stu_path.loc[stu_path["math_score"] > 65, "student_name"]
students_pass_math.count()

32555

In [15]:
#Total Students Passing Reading
students_pass_reading = stu_path.loc[stu_path["reading_score"] > 65, "student_name"]
students_pass_reading.count()

36923

In [16]:
#Percentage of Students Passing Math
percent_pass_math = (len(students_pass_math)/total_students)*100
percent_pass_math_string = "{:.2f}".format(percent_pass_math)
percent_pass_math_aspercent = f'{percent_pass_math_string} %'
percent_pass_math_aspercent

'83.11 %'

In [17]:
#Percentage of Students Passing Reading
percent_pass_reading = (len(students_pass_reading)/total_students)*100
percent_pass_reading_string = "{:.2f}".format(percent_pass_reading)
percent_pass_reading_aspercent = f'{percent_pass_reading_string} %'
percent_pass_reading_aspercent 
# = "{:.2f}".format(percent_pass_reading)

'94.26 %'

In [18]:
#Average of both Math & Reading Averages
Average_of_scores = ((percent_pass_math + percent_pass_reading)/2)
Average_of_scores_string = "{:.2f}".format(Average_of_scores)
Average_of_scores_aspercent = f'{Average_of_scores_string} %'
Average_of_scores_aspercent

'88.69 %'

In [19]:
#creating Data Frame Table for district schools
district_table = [{"Total Budget":total_budget, "Total Schools":total_schools, "Total Students":total_students, 
                  "Average Math Scores":avg_math_scores, "Average Reading Scores":avg_reading_scores, "Passing Students (Math)":students_pass_math.count(),
                  "Passing Students (Reading)":students_pass_reading.count(),"Percent Pass (Math)":percent_pass_math_aspercent,
                  "Percent Pass (Reading)":percent_pass_reading_aspercent, "Average of Reading & Math Scores":Average_of_scores_aspercent}]
dist_table_df = pd.DataFrame(district_table)
dist_table_df

,Total Budget,Total Schools,Total Students,Average Math Scores,Average Reading Scores,Passing Students (Math),Passing Students (Reading),Percent Pass (Math),Percent Pass (Reading),Average of Reading & Math Scores
0,24649428,15,39170,78.99,81.88,32555,36923,83.11 %,94.26 %,88.69 %

In [20]:
#Import Students for Each School using loc
#Compare to count in schools_csv data. The numbers should match
students_huang = stu_path.loc[stu_path["school_name"] == "Huang High School", ["student_name","reading_score", "math_score"]]

students_fig = stu_path.loc[stu_path["school_name"] == "Figueroa High School", ["student_name","reading_score", "math_score"]]

students_shelton = stu_path.loc[stu_path["school_name"] == "Shelton High School", ["student_name","reading_score", "math_score"]]

students_hern = stu_path.loc[stu_path["school_name"] == "Hernandez High School", ["student_name","reading_score", "math_score"]]

students_griffin = stu_path.loc[stu_path["school_name"] == "Griffin High School", ["student_name","reading_score", "math_score"]]

students_wilson = stu_path.loc[stu_path["school_name"] == "Wilson High School", ["student_name","reading_score", "math_score"]]

students_cabrera = stu_path.loc[stu_path["school_name"] == "Cabrera High School", ["student_name","reading_score", "math_score"]]

students_bailey = stu_path.loc[stu_path["school_name"] == "Bailey High School", ["student_name","reading_score", "math_score"]]

students_holden = stu_path.loc[stu_path["school_name"] == "Holden High School", ["student_name","reading_score", "math_score"]]

students_pena = stu_path.loc[stu_path["school_name"] == "Pena High School", ["student_name","reading_score", "math_score"]]

students_wright = stu_path.loc[stu_path["school_name"] == "Wright High School", ["student_name","reading_score", "math_score"]]

students_rod = stu_path.loc[stu_path["school_name"] == "Rodriguez High School", ["student_name","reading_score", "math_score"]]

students_johnson = stu_path.loc[stu_path["school_name"] == "Johnson High School", ["student_name","reading_score", "math_score"]]

students_ford = stu_path.loc[stu_path["school_name"] == "Ford High School", ["student_name","reading_score", "math_score"]]

students_thomas = stu_path.loc[stu_path["school_name"] == "Thomas High School", ["student_name","reading_score", "math_score"]]

In [35]:
#define data frame for Huang High School. Find out how to append values that you have calculated
huang_data = sch_path.loc[sch_path["school_name"] == "Huang High School", ["school_name","type","size","budget"]]
huang_data

         school_name      type  size   budget
0  Huang High School  District  2917  1910635

In [22]:
#Average Math Scores Huang
huang_math_avg = float(students_huang[["math_score"]].mean())
huang_math_avg

76.62941378128214

In [23]:
#Average Reading Scores Huang
huang_reading_avg = float(students_huang[["reading_score"]].mean())
huang_reading_avg

81.18272197463148

In [24]:
#Calculating Pass Rate for Math at Huang High School

#Finding Students that have Math Score > 65
huang_students_pass_math = students_huang.loc[students_huang["math_score"] > 65, ["student_name"]]

#Using the count command to find total students divided by total size of Huang High School students
huang_pass_rate_math = float((huang_students_pass_math.count()/int(huang_data["size"]))*100)
huang_pass_rate_math

75.28282482002056

In [25]:
#Calculating Pass Rate for Reading at Huang High School

#Finding Students that have Math Score > 65
huang_students_pass_reading = students_huang.loc[students_huang["reading_score"] > 65, ["student_name"]]

#Using the count command to find total students divided by total size of Huang High School students
huang_pass_rate_reading = float((huang_students_pass_reading.count()/int(huang_data["size"]))*100)
huang_pass_rate_reading

91.7723688721289

In [26]:
#Calculating overall passing rate for Huang High School
huang_overall_pass_rate = (huang_pass_rate_math+huang_pass_rate_reading)/2
huang_overall_pass_rate

83.52759684607473

In [27]:
#Building Data Frame based off statistics
metrics_huang = [{"Average Math Scores":huang_math_avg, "Passing Rate (Math)":huang_pass_rate_math, "Average Reading Scores":huang_reading_avg,
                 "Passing Rate (Reading)":huang_pass_rate_reading, "Overall Passing Rate":huang_overall_pass_rate}]
metrics_huang_df = pd.DataFrame(metrics_huang)
metrics_huang_df

,Average Math Scores,Passing Rate (Math),Average Reading Scores,Passing Rate (Reading),Overall Passing Rate
0,76.629414,75.282825,81.182722,91.772369,83.527597

In [29]:
#Merging 2 existing Data Frames to create Data Frame for Huang High School
huang_df = pd.concat([huang_data, metrics_huang_df], axis=1, ignore_index=False)
huang_df

,school_name,type,size,budget,Average Math Scores,Passing Rate (Math),Average Reading Scores,Passing Rate (Reading),Overall Passing Rate
0,Huang High School,District,2917,1910635,76.629414,75.282825,81.182722,91.772369,83.527597

In [85]:
#Leave this code for data of district vs charter
type_district_sch_data = sch_path.loc[sch_path["type"] == "District", ["school_name"]]
type_district_sch_data

              school_name
0       Huang High School
1    Figueroa High School
3   Hernandez High School
7      Bailey High School
11  Rodriguez High School
12    Johnson High School
13       Ford High School